# Python cache / build
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# macOS
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/


#other data / files

*.mov
*.avi
*.wav
*.zip
*.tar
*.mat
*.h5
*.pt
*.pth
*.ckpt
# local scratch
tmp/



